@import "src/styles.scss";
@import "src/app/shared/styles/breadcrumb";
@import "src/app/shared/styles/spinner.scss";
@import "src/app/shared/styles/cards-page.scss";

.biographies {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 40px;
  }
}
