<div class="sub-form" *ngIf="isInitialized && !isLoading; else spinner">
  <p class="sub-form__title">Текущее превью</p>
  <div class="sub-form__title-separator"></div>

  <ng-container *ngIf="existingPreview">
    <div class="preview-editor__img-container" [ngClass]="additionalContainerStyle">
      <img [src]="existingPreview.uri" alt="preview">
    </div>
  </ng-container>

  <p class="sub-form__title">Загрузить новое</p>
  <div class="sub-form__title-separator"></div>

  <input
    class="admin-form__input_file form-control"
    type="file"
    (change)="onFileChanged($event)"
  >

  <button
    type="submit" class="admin-form__button admin-form__button_wide"
    (click)="changePreview()"
    [disabled]="!isValid()"
  >
    Поменять превью
  </button>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
