@import "src/styles.scss";
@import "../shared/styles/breadcrumb";
@import "src/app/shared/styles/content-wrap.scss";

.about {
  &__wrap {
    @include content-wrap;
  }

  &__header {
    @include content-header;
    margin: 0;
  }

  &__header-line {
    @include content-header-separator;
  }

  &__text {
    color: $color-black;
    text-align: justify;
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 25px;
  }

  &__text-p {
    margin-bottom: 10px;
  }

  &__text-p:last-child {
    margin-bottom: 0;
  }

  &__history-p {
    color: $color-black;
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    display: inline;
  }

  &__history-link {
    color: var(--unnamed, #262728);
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-decoration-line: underline;
  }
}
