<form [formGroup]="subForm" class="sub-form">
  <p class="sub-form__title">Воинские звания</p>
  <div class="sub-form__title-separator"></div>

  <div class="sub-form__form-array" formArrayName="militaryRankDetailsArray">
    <div *ngFor="let control of formArrayController.getControls(); let i = index">
      <app-military-rank-details-form
        [subform]="control"
        [ranks]="ranks"
      ></app-military-rank-details-form>
      <div class="sub-form__title-separator"></div>
    </div>
  </div>

  <div class="admin-form__form-array-options">
    <a (click)="formArrayController.addControl()">+ Добавить</a>
    <p>|</p>
    <a (click)="formArrayController.removeLastControl()">- Убрать</a>
  </div>
</form>
