<div class="sub-form" *ngIf="isInitialized; else spinner">
  <p class="sub-form__title">Добавить фотографию</p>
  <div class="sub-form__title-separator"></div>

  <form [formGroup]="form" class="sub-form image-uploader">
    <div class="image-uploader__check-box">
      <input
        type="checkbox"
        id="flexCheckDefault"
        formControlName="isPreview"
      >
      <p>Это обложка</p>
    </div>

    <input
      class="admin-form__input_file form-control"
      type="file"
      (change)="onFileChanged($event)"
    >

    <button
      type="submit" class="admin-form__button admin-form__button_wide"
      (click)="submit()"
      [disabled]="!isValid()"
    >
      Добавить фотографию
    </button>
  </form>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
