@import "src/styles.scss";
@import "src/app/shared/styles/custom-select";
@import "src/app/shared/styles/content-wrap";
@import "src/app/admin/shared/styles/form-styles";
@import "src/app/shared/styles/breadcrumb.scss";

.dashboard {
  &__wrap {
    @include content-wrap();

    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 10px;
    }

    * {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
