<section class="about-us about-us__wrap">
  <div class="about-us__header-wrap">
    <h1>Музей истории Боевой и Трудовой Славы куйбышевцев-выпускников
      СОЛОВЕЦКОЙ ШКОЛЫ ЮНГОВ ВМФ СССР 1942-1945 г.г.</h1>
  </div>

  <div class="about-us__body">
    <div class="about-us__text">
      <p>
        Наш музей представляет коллекцию из 2420 экспонатов,
        в том числе 2072 подлинников. Площадь составляет 85 квадратных метров
        и включает три зала. Мы проводим экскурсии,
        занимаемся научно-исследовательской работой, работой с фондами,
        поиском и организационной деятельностью.
      </p>

      <p>
        С момента возрождения нас посетило более 100 тысяч человек,
        включая гостей из разных уголков России,
        таких как Москва, Казань и Санкт-Петербург. Музей также
        являлся призёром Всероссийских конкурсов и Смотров школьных
        музеев города Самара.
      </p>

      <p>
        Среди присуждённых нам наград есть медали «310 лет Российскому Флоту»,
        «Адмирал Флота Советского Союза Н.Г.КУЗНЕЦОВ», «В ознаменование 140-летия со дня рождения И.В. СТАЛИНА»,
        а также копия Знамени Победы.
        Наш музей также внесён в Книгу Почёта Всероссийского Совета ветеранов.
      </p>
    </div>

    <!--  todo placeholder -->
    <div class="about-us__video"></div>

    <div class="about-us__learn-more">
      <p class="about-us__learn-more-p">Узнайте больше о нас и нашей истории</p>
      <button class="about-us__learn-more-button" routerLink="/about">Подробнее</button>
    </div>
  </div>
</section>
