<div class="sub-form">
  <p class="sub-form__title">Текущее превью</p>
  <div class="sub-form__title-separator"></div>

  <ng-container *ngIf="preview">
    <div class="multiple-image-editor__img-container">
      <img [src]="preview.uri" alt="preview">
    </div>
  </ng-container>

  <p class="sub-form__title">Редактирование картинок</p>
  <div class="sub-form__title-separator"></div>

  <div class="spinner-container" *ngIf="!isInitialized || isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>

  <div [style.display]="isInitialized && !isLoading ? 'block' : 'none'">
    <app-image-editor></app-image-editor>
    <app-image-uploader></app-image-uploader>
  </div>
</div>
