<section class="museum-location">
  <div class="home-page-section__separator"></div>
  <div class="home-page-section__header-line">
    <h1 class="home-page-section__header">АДРЕС</h1>
  </div>

  <div class="museum-location__info">
    <p>ул. Пензенская, 47, Самара, Самарская обл., 443082</p>

  </div>

  <iframe class="museum-location__map" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4781.196497001131!2d50.13496704486121!3d53.189186317440665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x41661e7984f53f61%3A0x1f8a7aa4b5d13377!2z0YPQuy4g0J_QtdC90LfQtdC90YHQutCw0Y8sIDQ3LCDQodCw0LzQsNGA0LAsINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDMwODI!3m2!1d53.18918!2d50.140116899999995!5e0!3m2!1sru!2sru!4v1693812638709!5m2!1sru!2sru"
          width="100%" height="250" style="border:0;" allowfullscreen=""
          loading="lazy" referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>

  <a target="_blank" href="https://www.google.com/maps?ll=53.189186,50.134967&z=14&t=m&hl=ru&gl=RU&mapclient=embed&saddr&daddr=%D1%83%D0%BB.+%D0%9F%D0%B5%D0%BD%D0%B7%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F,+47,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0,+%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+443082&dirflg=d"
  >Показать на большой карте</a>
</section>
