@import "src/styles.scss";

.fullscreen-view {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    & img {
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
      cursor: pointer;
    }
  }

  &__close-button {
    margin-top: 10px;
    cursor: pointer;

    background: none;
    border: none;
    color: $color-white;
    font-family: 'Open-Sans', sans-serif;
  }
}
